<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Xeebster Rewards Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Xeebster Rewards Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Xeebster Data</ion-card-title>
          </ion-card-header>

          <ion-item>
            <ion-label>Tokens Burned</ion-label>
            <ion-input
              class="ion-text-center"
              [value]="XEEBData.burnedTokens"
              (input)="onChangeTokensBurned($event)"
              color="primary"
              autocomplete="off"
            ></ion-input>
            <ion-button icon-only (click)="getBscBurnData()">
              <ion-icon name="refresh-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-label>Daily Volume</ion-label>
            <ion-input
              class="ion-text-center"
              [value]="XEEBData.dailyVolume"
              (input)="onChangeDailyVolume($event)"
              color="primary"
              autocomplete="off"
            ></ion-input>
            <ion-button icon-only (click)="getTokenData()">
              <ion-icon name="refresh-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-label>Total Supply</ion-label>
            <ion-label>{{XEEBData.totalSupply}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Team+Airdrop</ion-label>
            <ion-label>{{XEEBData.teamTokensHeld}}</ion-label>
            <ion-button icon-only (click)="getBscTeamTokensData()">
              <ion-icon name="refresh-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-label>Circulating Supply</ion-label>
            <ion-label
              >{{XEEBData.totalSupply - XEEBData.burnedTokens}}</ion-label
            >
          </ion-item>

          <ion-item>
            <ion-label>Rewards Supply</ion-label>
            <ion-label>{{rewardSupply()}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Total Distribution</ion-label>
            <ion-label
              >{{totalDistribution() |
              currency:'USD':"symbol":'1.2-4'}}</ion-label
            >
          </ion-item>

          <ion-item>
            <ion-label>Rewards %</ion-label>
            <ion-label>{{XEEBData.rewardPercent | percent:'1.2'}}</ion-label>
          </ion-item>
        </ion-card>

        <br />
        <ion-card>
          <ion-card-header>
            <ion-card-title>Your Wallet Data</ion-card-title>
          </ion-card-header>

          <ion-item>
            <ion-label>Wallet Address</ion-label>
            <ion-input
              [value]="walletAddress"
              class="ion-text-center"
              (input)="onChangeWalletAddress($event)"
              color="primary"
              autocomplete="off"
            ></ion-input>
            <ion-button icon-only (click)="getWalletAddressXEEBHeld()">
              <ion-icon name="refresh-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-label>XEEB Held</ion-label>
            <ion-input
              [value]="XEEBData.XEEBHeld"
              class="ion-text-center"
              (input)="onChangeXEEBHeld($event)"
              color="primary"
              autocomplete="off"
            ></ion-input>
            <ion-button icon-only (click)="getWalletAddressXEEBHeld()">
              <ion-icon name="refresh-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-label>Your Effective Reward %</ion-label>
            <ion-label>{{effectivePercentage() | percent:'1.2-12' }}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Daily Rewards (in BUSD)</ion-label>
            <ion-label>{{rewards | currency:'USD':"symbol":'1.2-4'}}</ion-label>
          </ion-item>
        </ion-card>

        <br />

        <ion-card>
          <ion-card-header>
            <ion-card-title>About</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Live data will pull from BSC Scan and CoinGecko once when you load
            the application -- It will take a moment on load and also when you
            click refresh so please do not spam the refresh button.
          </ion-card-content>
          <ion-card-content>
            All values that you input will be saved in your browser's local
            storage for the next time you use this application.
          </ion-card-content>
          <ion-card-content>
            Made with love by Jared Hodgkins. Find me on the official XEEB
            Telegram if you notice any issues!
          </ion-card-content>
        </ion-card>
        <br />
        <ion-card>
          <ion-card-header>
            <ion-card-title>XEEB Official Links & Info</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            XEEBSTER Website:
            <a
              href="https://xeebster.com"
              target="_blank"
              rel="noopener noreferrer"
              >https://xeebster.com</a
            >
            <br />
            XEEBSTER Rewards Dashboard:
            <a
              href="https://app.evergrowcoin.com/dashboard"
              target="_blank"
              rel="noopener noreferrer"
              >https://app.evergrowcoin.com/dashboard</a
            >
            <br />
            XEEBSTER Official Telegram:
            <a
              href="https://t.me/evergrowcoin"
              target="_blank"
              rel="noopener noreferrer"
              >https://t.me/evergrowcoin</a
            >
            <br />
            XEEBSTER Official Discord:
            <a
              href="https://discord.gg/P3DAFUzyYy"
              target="_blank"
              rel="noopener noreferrer"
              >https://discord.gg/P3DAFUzyYy</a
            >
            <br />
            XEEBSTER Official Twitter:
            <a
              href="https://twitter.com/evergrowcoinXEEB"
              target="_blank"
              rel="noopener noreferrer"
              >https://twitter.com/evergrowcoinXEEB</a
            >
            <br />
            XEEBSTER Official Facebook:
            <a
              href="https://www.facebook.com/evergrowcoin"
              target="_blank"
              rel="noopener noreferrer"
              >https://www.facebook.com/evergrowcoin</a
            >
            <br />
            XEEBSTER Official Reddit:
            <a
              href="https://www.reddit.com/r/evergrowcoin"
              target="_blank"
              rel="noopener noreferrer"
              >https://www.reddit.com/r/evergrowcoin</a
            >
          </ion-card-content>

          <ion-card-content>
            Buy on Pancake Swap:
            <a
              href="https://pancakeswap.finance/swap?outputCurrency=0xfAE5a913fAc73Ef8ED647e53dc42d2fEBc9eA6c9"
              target="_blank"
              rel="noopener noreferrer"
              ><img src="assets/pancake.png"
            /></a>
            <br />
            Buy on Poocoin:
            <a
              href="https://poocoin.app/swap?outputCurrency=0xfAE5a913fAc73Ef8ED647e53dc42d2fEBc9eA6c9"
              target="_blank"
              rel="noopener noreferrer"
              ><img src="assets/poocoin.png"
            /></a>
          </ion-card-content>

          <ion-card-content>
            XEEB Contract: 0xfAE5a913fAc73Ef8ED647e53dc42d2fEBc9eA6c9
            <a
              href="https://bscscan.com/address/0xfAE5a913fAc73Ef8ED647e53dc42d2fEBc9eA6c9"
              target="_blank"
              rel="noopener noreferrer"
              ><img src="assets/bscscan_logo.png"
            /></a>

            <br />

            BUSD Contract: 0xe9e7cea3dedca5984780bafc599bd69add087d56
            <a
              href="https://bscscan.com/address/0xe9e7cea3dedca5984780bafc599bd69add087d56"
              target="_blank"
              rel="noopener noreferrer"
              ><img src="assets/bscscan_logo.png"
            /></a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
